/* Estilos simples para componentes */
.header {
    background: #e3eafc;
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    color: #222;
    border-bottom: 1px solid #b3c2e6;
}

.footer {
    background: #e3eafc;
    padding: 12px;
    text-align: center;
    font-size: 1rem;
    color: #444;
    border-top: 1px solid #b3c2e6;
    margin-top: 40px;
}

.content{
    text-align: center;
}
.content p{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    size: 80px;
}
